*{
    padding: 16px;
    margin: 0;
}


    body {
display: inline-block;
    }
 
h3 {
    width: 200px;
    height: 50px;
    background-color: rgb(106, 154, 238);
    border-radius: 15px;
    text-align: center;
    padding-top: 26px;
}

.left h3 {
    float: left;

}
.right h3 {
    float: right;
}

.center h3 {
    float: none;
    margin-left: 365px;
}